<section class="container-fluid">

  <mat-card class="card mb-3 mat-elevation-z8">
    <a routerLink="/chat">
      <div class="row g-0">
        <div class="col-md-4 mat-elevation-z4">
          <a routerLink="/chat">
            <img src="assets/images/pexels-cottonbro-6153354.jpg"
              class="card-img-top object-fit-fill rounded-start mx-auto d-block img-fluid" alt="AfiaPlus">
          </a>
        </div>
        <div class="col-md-8 mat-elevation-z4">
          <div class="card-body">
            <a routerLink="/chat">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">chat_bubble</mat-icon>
                <h5 class="fs-5 text-primary">Health Chat Bot</h5>
              </button>
            </a>
          </div>

        </div>
      </div>
    </a>
  </mat-card>



  <mat-divider></mat-divider>


  <mat-card class="card mb-3 mat-elevation-z8">
    <a routerLink="/diagnosis">
      <div class="row g-0">
        <div class="col-md-4 mat-elevation-z4">
          <a routerLink="/diagnosis">
            <img src="assets/images/pexels-karolina-grabowska-4226769.jpg"
              class="card-img-top object-fit-fill rounded-start mx-auto d-block img-fluid" alt="AfiaPlus">
          </a>
        </div>
        <div class="col-md-8 mat-elevation-z4">
          <div class="card-body">
            <a routerLink="/diagnosis">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">medical_information</mat-icon>
                <h5 class="fs-5 text-primary">Symptoms Checker</h5>
              </button>
            </a>
          </div>

        </div>
      </div>
    </a>
  </mat-card>

</section>
